:root {
  --green-700: #00875f;
  --green-500: #00875f;
  --green-300: #00b37e;

  --gray-900: #121214;
  --gray-800: #202024;
  --gray-700: #29292e;
  --gray-600: #323238;
  --gray-500: #7c7c8a;
  --gray-400: #9797a3;
  --gray-300: #c4c4cc;
  --gray-200: #e1e1e6;

  --gray-transparent: rgba(0, 0, 0, 0.75);

  --white: #ffffff;

  --red-500: #f75a68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-700);
}

::selection {
  background-color: var(--green-700);
  color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-200);
  --webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 480px) {
  html {
    /* 16px => 100% */
    /* 14px =>   x */
    /* 16x = 1400 => x =  87.7% */
    font-size: 87.5%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
